<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="io.numaproj.kafka" level="${KAFKA_LOG_LEVEL:-INFO}"/>
</configuration>
